<section class="login">
  <div fxLayout="column" fxFlex="25%" class="container" fxLayoutAlign="center">
    <mat-card>
      <mat-card-title>
        Login to Your Account
      </mat-card-title>
      <form fxLayout="column" #loginForm="ngForm">
        <mat-form-field>
          <input matInput name="cell" [(ngModel)]="loginVo.cell" required placeholder="Username">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" [(ngModel)]="loginVo.pass" name="pass" required placeholder="Password">
        </mat-form-field>
      </form>

      <div>
        <button mat-button color="primary" [disabled]="this.loginForm.invalid" (click)="login()">Login</button>
      </div>
    </mat-card>
  </div>
</section>