<section class="bill-dashboard">
    <div *ngIf="!showAddBill">
        <div fxLayout="column">
            <fieldset>
                <legend>Add Bill</legend>
                <button mat-fab color="accent" (click)="enableAddBill()">
                    <mat-icon>add</mat-icon>
                </button>
            </fieldset>
        </div>
    </div>
    <div *ngIf="showAddBill">
        <add-bill></add-bill>
    </div>
</section>