<!-- flex container displaying children as a column -->
<section class="section-layout flex-container" fxLayoutAlign="start stretch">
  <!--[class.dark-theme]="isDarkTheme">-->

  <!-- this flex item takes the rest of the screen in height -->
  <mat-sidenav-container fxFlex>

    <!-- Drawer ------------------------------------------------------------------------------------------------------ -->
    <!-- align="end"  -->
    <mat-sidenav #sidenav mode="side" opened class="mat-elevation-z6">
      <eg-side-menu></eg-side-menu>
    </mat-sidenav>



    <mat-sidenav-content>

      <!-- Header ------------------------------------------------------------------------------------------------------ -->
      <mat-toolbar color="primary" class="mat-elevation-z10">
        <button mat-button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="mat-24">menu</mat-icon>
        </button>

        <!-- <span class="large-shadow-text">
            <span *ngIf="!schoolDto">{{'education.portal}}</span>
            <span *ngIf="schoolDto && schoolDto.school">{{schoolDto.school.name}}</span>
          </span> -->

        <!-- <eg-spacer></eg-spacer>
  
          <eg-global-search></eg-global-search>
  
          <eg-fullscreen fxHide.lt-sm></eg-fullscreen>
  
          <eg-user-menu></eg-user-menu> -->



      </mat-toolbar>

      <!-- Content ----------------------------------------------------------------------------------------------------- -->
      <section class="section-content" fxLayout="column">
        <!-- <eg-alert-message-web></eg-alert-message-web>
          <eg-spinner-component></eg-spinner-component> -->
        <router-outlet></router-outlet>
      </section>

    </mat-sidenav-content>
  </mat-sidenav-container>

</section>