<section class="side-menu">
  <mat-nav-list class="menu" fxLayout="column">
    <mat-list-item class="nav-sub" routerLink="/">
      <mat-icon mat-list-icon>dashboard</mat-icon>
      Dashboard
    </mat-list-item>
    <mat-list-item class="nav-sub" routerLink="/customer">
      <mat-icon mat-list-icon>group</mat-icon>
      Customer
    </mat-list-item>
    <mat-list-item class="nav-sub" routerLink="/product">
      <mat-icon mat-list-icon>apps</mat-icon>
      Product
    </mat-list-item>
  </mat-nav-list>
</section>