<section class="add-bill">
    <fieldset>
        <legend>Add Bill</legend>
        <form #billForm="ngForm">
            <div fxLayout="row" fxLayoutGap="2%">
                <mat-form-field fxFlex="25%">
                    <input matInput type="number" name="invoiceNo" [(ngModel)]="billDto.header.invoiceNo" placeholder="Invoice No">
                </mat-form-field>
                <mat-form-field fxFlex="25%">
                    <input matInput [matDatepicker]="picker" name="invoiceDate" placeholder="Date" [(ngModel)]="billDto.header.invoiceDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="35%">
                    <mat-select placeholder="Select Customer" name="cid" [(ngModel)]="billDto.header.cus_id">
                        <mat-option *ngFor="let customer of customers" [value]="customer.cid">
                            {{customer.cname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxFlex="13%">
                    <button mat-raised-button color="accent" (click)="addRow()">Add Row</button>
                </div>
            </div>
            <div fxLayout="column">
                <table>
                    <thead>
                        <th>Sr.No.</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of billDto.details; let i = index">
                            <td>{{i+1}}</td>
                            <td>
                                <mat-form-field>
                                    <mat-select placeholder="Select Product" name=pid{{i}} [(ngModel)]="row.pdt_id">
                                        <mat-option *ngFor="let product of products" [value]="product.pid">
                                            {{product.pname}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput type="number" name=rate{{i}} placeholder="Rate" [(ngModel)]="row.rate">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput type="number" name=quantity{{i}} placeholder="Quantity" [(ngModel)]="row.quantity">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput type="number" [(ngModel)]="row.amount" name=amount{{i}} placeholder="Amount">
                                </mat-form-field>
                            </td>
                            <td>
                                <button button mat-raised-button color="basic" (click)="deleteRow(i)">Delete</button>
                            </td>
                        </tr>
                        <tr *ngIf="showInitRow">
                            <td>{{this.billDto.details.length + 1}}</td>
                            <td>
                                <mat-form-field>
                                    <mat-select placeholder="Select Product" name=pid [(ngModel)]="billDetailVo.pdt_id">
                                        <mat-option *ngFor="let product of products" [value]="product.pid">
                                            {{product.pname}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput type="number" name=rate placeholder="Rate" [(ngModel)]="billDetailVo.rate">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput type="number" name=quantity placeholder="Quantity" [(ngModel)]="billDetailVo.quantity">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput type="number" [(ngModel)]="billDetailVo.amount" name=amount
                                        placeholder="Amount">
                                </mat-form-field>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div fxLayoutGap="2%">
                <button button mat-raised-button color="primary" (click)="addBill()">Save</button>
                <button button mat-raised-button color="basic">Cancel</button>
            </div>
        </form>
    </fieldset>

</section>