<section class="app-customer">
  <fieldset>
    <legend>Add Bill</legend>
    <form class="add-customer" fxLayout="column" fxFlex="50%">
      <mat-form-field>
        <input matInput name="name" [(ngModel)]="customerVo.cname" placeholder="Customer Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput name="code" [(ngModel)]="customerVo.ccode" placeholder="Customer code">
      </mat-form-field>
      <!-- <mat-form-field>
        <input matInput [matDatepicker]="picker" [(ngModel)]="customerVo.dob" name="dob" placeholder="Date of Birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
      <div>
        <button mat-raised-button color="primary" (click)="addCustomer()">
          Add
        </button>
      </div>
    </form>
  </fieldset>

</section>