<section class="app-customer">
  <fieldset>
    <legend>Add Product</legend>
    <form class="add-customer" fxLayout="column" fxFlex="50%">
      <mat-form-field>
        <input matInput name="name" [(ngModel)]="productVo.pname" placeholder="Product Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput name="code" [(ngModel)]="productVo.pcode" placeholder="Product code">
      </mat-form-field>
      <!-- <mat-form-field>
        <input matInput [matDatepicker]="picker" [(ngModel)]="customerVo.dob" name="dob" placeholder="Date of Birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
      <div>
        <button mat-raised-button color="primary" (click)="addProduct()">
          Add
        </button>
      </div>
    </form>
  </fieldset>

</section>